@font-face {
  font-family: digital-7;
  src: url(../fonts/digital-7-mono.ttf); }

@font-face {
  font-family: led-digital-7;
  src: url(../fonts/led-counter-7.ttf); }

body {
  overflow: hidden;
  position: relative; }

html, body {
  background: #9cb2cb fixed;
  height: 100%;
  padding: 0;
  margin: 0; }

#desk {
  position: absolute;
  background: #fcbb4f;
  bottom: 0;
  width: 100%; }

#tv {
  background: #e5d0a3;
  position: absolute;
  border: solid #8e4c26; }
  #tv__main {
    position: absolute;
    background: #97a19f;
    border: solid black; }
  #tv__right {
    position: absolute;
    background: #394048;
    right: 0; }
    #tv__right__btn {
      position: absolute;
      background-image: url(/img/btn.png);
      background-size: cover;
      border-radius: 50%; }
    #tv__right__hs {
      background-image: url(/img/hs.png);
      background-repeat: round;
      width: 100px;
      height: 100px;
      position: absolute;
      border: solid #e0e3d7; }
  #tv__top {
    background-image: url(/img/top.png);
    background-size: cover;
    position: absolute; }

.main-menu {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background: rgba(28, 28, 28, 0.7);
  border: 2px white solid;
  padding: 10px;
  min-width: 300px; }
  .main-menu__button {
    font: bold 38px led-digital-7;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    color: #fff;
    border-radius: 10px; }
    .main-menu__button:hover {
      color: yellow;
      text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }
  .main-menu__header {
    font: bold 56px led-digital-7;
    color: #fff; }

.box {
  margin: 50px auto; }

.button-back {
  font: bold 28px led-digital-7;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  background: transparent; }
  .button-back:hover {
    color: yellow;
    text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }

.user-form, .new-lobby-box__form {
  margin: 0 auto;
  width: 50%;
  background: rgba(28, 28, 28, 0.7);
  padding-top: 20px;
  text-align: center;
  border: 2px solid white;
  min-width: 300px; }
  .user-form__input, .new-lobby-box__input {
    font: 28px led-digital-7;
    color: #fff;
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    background: transparent;
    border: 2px solid white; }
  .user-form__submit, .new-lobby-box__submit {
    cursor: pointer;
    font: bold 28px led-digital-7;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    background: transparent;
    display: block;
    border: 0; }
    .user-form__submit:hover, .new-lobby-box__submit:hover {
      color: yellow;
      text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }
  .user-form__error, .new-lobby-box__error {
    color: #fff;
    font: 14px led-digital-7;
    padding: 15px;
    width: 50%;
    text-align: center;
    background: rgba(255, 3, 62, 0.75);
    margin: 10px auto;
    margin-top: 0; }

.lobby-box, .new-lobby-box {
  margin: 50px auto;
  background: rgba(28, 28, 28, 0.7);
  border: 2px white solid;
  width: 50%;
  max-height: 650px;
  min-width: 400px; }
  .lobby-box__header, .new-lobby-box__header {
    text-align: center;
    font: bold 48px led-digital-7;
    color: #fff;
    margin-top: 10px; }
  .lobby-box__create {
    text-decoration: none;
    color: #fff; }
    .lobby-box__create:hover {
      color: yellow;
      text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }
  .lobby-box__outer-table {
    position: relative;
    padding: 50px 0 5px 0; }
    .lobby-box__outer-table thead tr {
      position: absolute;
      left: 0;
      top: 20px; }
  .lobby-box__inside-table {
    overflow: auto;
    max-height: 500px; }
    .lobby-box__inside-table td {
      padding: 10px;
      width: 33.3%; }

.new-lobby-box {
  display: none;
  text-align: center; }
  .new-lobby-box__error {
    display: none;
    margin-top: 20px;
    text-align: center;
    width: 50%; }
  .new-lobby-box__form {
    background: transparent;
    border: 0; }
  .new-lobby-box__input {
    width: 100%; }

.lobby-table, .current-lobby-table {
  border: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 0;
  font: 28px led-digital-7; }
  .lobby-table__join {
    text-decoration: none;
    color: #fff; }
    .lobby-table__join:hover {
      color: yellow;
      text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }
  .lobby-table__name {
    word-break: break-all; }
  .lobby-table thead th, .current-lobby-table thead th {
    border-bottom: 2px white dashed;
    width: 10em; }

.current-lobby-table {
  table-layout: fixed; }
  .current-lobby-table td {
    width: 50%; }
  .current-lobby-table__td_red {
    color: red; }
  .current-lobby-table__td_blue {
    color: blue; }

.scoreboard {
  width: 50%;
  min-width: 400px;
  margin: 30px auto;
  text-align: center;
  background: rgba(28, 28, 28, 0.7);
  border: 2px white solid; }
  .scoreboard__header {
    margin-top: 20px;
    font: bold 28px led-digital-7;
    color: #fff; }
  .scoreboard__table {
    font: 28px led-digital-7;
    text-decoration: none;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    color: #fff;
    background: transparent;
    border-radius: 10px; }
    .scoreboard__table th {
      padding-bottom: 5px; }

.game {
  margin: -8px;
  padding: 10px;
  background-image: url("../img/background_color.jpg"); }
  .game__header {
    margin: 0;
    background-image: url("../img/tablo.png");
    padding: 10px 0 10px 10px;
    min-width: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center; }
    .game__header_left {
      float: left;
      left: 10px;
      padding: 0 14px; }
    .game__header_right {
      right: 10px;
      padding: 0 14px;
      float: right; }
    .game__header__button {
      background-color: transparent;
      height: 30px;
      padding: 0 14px;
      border-radius: 2px;
      font: normal normal bold 20px/1 "advent-pro", led-digital-7, sans-serif;
      color: white;
      text-align: center;
      text-decoration: none; }
      .game__header__button:hover {
        color: yellow;
        text-shadow: -1px 1px 8px #fefe22, 1px -1px 8px #fefe22; }
    .game__header__text {
      font: normal normal bold 20px/1 "advent-pro", led-digital-7, sans-serif;
      color: #ffffff;
      text-align: center; }
  .game__field {
    margin: 0;
    padding: 0; }

#page {
  height: 100%; }
