body {
    background-image: url("../img/back.jpg");
    background-size:   cover;
}
.main-menu {
    width: 400px;
    margin: 30px auto;
    text-align: center;
}

/*eto bem detka*/
.main-menu__button {
    font: bold 18px Verdana;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    color: #4d5a5e;
    background: white;
    border: 1px solid #cfdfe3;
    border-bottom-color: #d2e2e7;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
}

.scoreboard__table {
    background-color: white;
}